<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- start: Header -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Adauga o noua specificatie!</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post" th:object="${specification}" th:action="@{/project/specification/save}">
                            <fieldset>
                                <input type="hidden" th:field="*{projectId}"/>
                                <div class="control-group">
                                    <label class="control-label" for="name">Nume</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="name" type="text" th:field="*{name}"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="hours">Ore de lucru</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="hours" type="text" th:field="*{workHours}"/>
                                    </div>

                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="description">Descriere</label>
                                    <div class="controls">
                                        <textarea class="focused" id="description" th:field="*{description}">
                                            </textarea>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Prioritate</label>
                                    <div class="controls">
                                        <select id="status" th:field="*{priority}">
                                            <option th:each="priority : ${priorities}" th:value="${priority}"  th:text="${priority}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Salveaza</button>
                                    <a th:href="@{/project/list}"><input class="btn btn-default" type="button" th:value="Renunta"></input></a>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->


<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
