<div th:fragment="menu" id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a th:href="@{/project/form/0}"><i class="icon-folder-open"></i><span class="hidden-tablet"> Adauga proiect</span></a></li>
            <li><a th:href="@{/project/list}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Vezi proiecte</span></a></li>
            <li><a th:href="@{/allocate/form}"><i class="icon-random"></i><span class="hidden-tablet"> Asigneaza proiect</span></a></li>
            <li><a th:href="@{/user/profile}"><i class="icon-lock"></i><span class="hidden-tablet"> Profilul meu </span></a></li>
            <li><a th:href="@{/employee/form}"><i class="icon-user"></i><span class="hidden-tablet"> Angajat nou</span></a></li>
            <li><a th:href="@{/employee/list}"><i class="icon-th-list"></i><span class="hidden-tablet"> Vezi angajati</span></a></li>
            <li><a th:href="@{/calendar/}"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
            <li><a th:href="@{/report/}"><i class="icon-pencil"></i><span class="hidden-tablet"> Rapoarte</span></a></li>
            <li><a th:href="@{/logout/}"><i class="icon-off"></i><span class="hidden-tablet"> Logout</span></a></li>
        </ul>
    </div>
</div>